* {
  font-family: 'Raleway', sans-serif;
}

body {
  background: Tan;
}

h1, h4, p {
  color: DarkGrey;
  text-align: center;
}

p {
  font-size: 18px;
}

a {
  color: SeaGreen;
  text-decoration: none;
}

li {
  color: DarkGrey;
}

h3 {
  Color: DarkGrey;
}

img {
  border-radius: 100%;
}
