/* Lol what is just is must only */
* {
  font-family: 'Raleway', sans-serif;
  text-align: center
}

body {
  background: Tan;
  width: 768px;
  border: 25px DarkGrey;
  padding: 25px;
  margin: 25px;
}
}

h1, p {
  color: #DarkGrey;
}

p {
  font-size: 20px;
}

a {
  color: SeaGreen;
  text-decoration: none;
}

img {
  border-radius: 100%;
}
