* {
  font-family: 'VT323', monospace;
  text-align: center;
}

body {
  background: rgb(0, 0, 0);
}

.header {
  background-image: url("https://pbs.twimg.com/media/C-hP95RU0AAnRBk.jpg");
  height: 400px;
  background-position: center;
}

h1 {
  color: rgb(0, 212, 0);
  font-size: 100px;
  line-height: 555px;
  margin: 0;
  position: relative;
  top: 20%auto;
}

h3, h4, p, li {
  color: rgb(0, 212, 0);
}

p {
  font-size: 18px;
}

a {
  color: rgb(137, 222, 0);
  text-decoration: none;
}

ul {
  display:table;
  margin:0 auto;
}

img {
  border-radius: 100%;
}
